.ravi{
    width: 20%;
}
#q{
    background-color: rgb(148, 148, 248);
}
table{
    text-align: center;
    background-color: rgb(247, 215, 177);
}
.babu{
    background-color: bisque;
}
#a{
    background-color: rgb(211, 138, 211);
}
#b{
    background-color: rgb(230, 87, 87);
}